$quixam-green: #9acd32;
$quixam-green-d1: (darken($quixam-green, 5%));
$quixam-green-d2: (darken($quixam-green, 10%));
$quixam-green-d3: (darken($quixam-green, 15%));
$quixam-green-d4: (darken($quixam-green, 20%));
$quixam-green-d5: (darken($quixam-green, 25%));
$quixam-green-l1: (lighten($quixam-green, 5%));
$quixam-green-l2: (lighten($quixam-green, 10%));
$quixam-green-l3: (lighten($quixam-green, 15%));
$quixam-green-l4: (lighten($quixam-green, 20%));
$quixam-green-l5: (lighten($quixam-green, 25%));

$quixam-blue: #00aabb;
$quixam-blue-d1: (darken($quixam-blue, 10%));
$quixam-blue-d2: (darken($quixam-blue, 20%));
$quixam-blue-d3: (darken($quixam-blue, 30%));
$quixam-blue-d4: (darken($quixam-blue, 40%));
$quixam-blue-d5: (darken($quixam-blue, 50%));
$quixam-blue-l1: (lighten($quixam-blue, 10%));
$quixam-blue-l2: (lighten($quixam-blue, 20%));
$quixam-blue-l3: (lighten($quixam-blue, 30%));
$quixam-blue-l4: (lighten($quixam-blue, 40%));
$quixam-blue-l5: (lighten($quixam-blue, 50%));

$quixam-pink: #ff1493;
$quixam-pink-d1: (darken($quixam-pink, 10%));
$quixam-pink-d2: (darken($quixam-pink, 20%));
$quixam-pink-d3: (darken($quixam-pink, 30%));
$quixam-pink-d4: (darken($quixam-pink, 40%));
$quixam-pink-d5: (darken($quixam-pink, 50%));
$quixam-pink-l1: (lighten($quixam-pink, 10%));
$quixam-pink-l2: (lighten($quixam-pink, 20%));
$quixam-pink-l3: (lighten($quixam-pink, 30%));
$quixam-pink-l4: (lighten($quixam-pink, 40%));
$quixam-pink-l5: (lighten($quixam-pink, 50%));

$quixam-orange: #ff5722;
$quixam-orange-d1: (darken($quixam-orange, 10%));
$quixam-orange-d2: (darken($quixam-orange, 20%));
$quixam-orange-d3: (darken($quixam-orange, 30%));
$quixam-orange-d4: (darken($quixam-orange, 40%));
$quixam-orange-d5: (darken($quixam-orange, 50%));
$quixam-orange-l1: (lighten($quixam-orange, 10%));
$quixam-orange-l2: (lighten($quixam-orange, 20%));
$quixam-orange-l3: (lighten($quixam-orange, 30%));
$quixam-orange-l4: (lighten($quixam-orange, 40%));
$quixam-orange-l5: (lighten($quixam-orange, 50%));

$quixam-yellow: #ffc107;
$quixam-yellow-d1: (darken($quixam-yellow, 10%));
$quixam-yellow-d2: (darken($quixam-yellow, 20%));
$quixam-yellow-d3: (darken($quixam-yellow, 30%));
$quixam-yellow-d4: (darken($quixam-yellow, 40%));
$quixam-yellow-d5: (darken($quixam-yellow, 50%));
$quixam-yellow-l1: (lighten($quixam-yellow, 10%));
$quixam-yellow-l2: (lighten($quixam-yellow, 20%));
$quixam-yellow-l3: (lighten($quixam-yellow, 30%));
$quixam-yellow-l4: (lighten($quixam-yellow, 40%));
$quixam-yellow-l5: (lighten($quixam-yellow, 50%));

$quixam-padding-none:0;
$quixam-padding-1x:4px;
$quixam-padding-2x:8px;
$quixam-padding-3x:12px;
$quixam-padding-4x:16px;
$quixam-padding-5x:20px;
$quixam-padding-6x:24px;
$quixam-padding-7x:28px;
$quixam-padding-8x:32px;

$quixam-margin-none:0;
$quixam-margin-1x:4px;
$quixam-margin-2x:8px;
$quixam-margin-3x:12px;
$quixam-margin-4x:16px;
$quixam-margin-5x:20px;
$quixam-margin-6x:24px;
$quixam-margin-7x:28px;
$quixam-margin-8x:32px;
