<div class="container">
  <h1>colors & classes</h1>
  <div>


    <table class="table-responsive" ng-repeat="color in vm.colorClasses">
      <thead>
        <th>
          {{color.name}}
        </th>
      </thead>
      <tbody>
        <tr  ng-repeat="class in color.classes">
          <td >
            <p ng-class="class.class">{{class.class}} </p>
          </td>
          <td style=" height: 50px; width: 50px" ng-class="class.color">

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
